:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 512px;
  min-height: 550px;
  padding: 48px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

::ng-deep mat-form-field {
  width: 100%;
}
