mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  min-height: 100vh;
}

mat-sidenav-content {
  z-index: 2 !important;
}

mat-sidenav {
  width: 364px;
}

mat-nav-list {
  padding-bottom: 8px;
}

.mat-tooltip {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .4px;
  background-color: rgba(0, 0, 0, .6);
}

mat-icon {
  color: var(--medium-emphasis-text-color);
}

.pre-container {
  position: relative;
  // margin: 0px -160px;
  background-color: rgba(0, 0, 0, .04);
  border-radius: 8px;
  padding: 8px 24px !important;
  margin-bottom: 24px;
}

.prettyprint {
  padding: 0;
  border: none !important;
}

pre, code {
  font-family: Roboto Mono, monospace;
}

p code {
  font-size: 14px;
  line-height: 24px;
}

app-file-copy-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

/* SNACKBAR */
.mat-snack-bar-container {
  background-color: #121212;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.25px;

  color: #FFFFFF !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, .32);
}

.mat-button, .mat-raised-button {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.mat-chip:not(.mat-chip-selected) {
  // background: #eee !important;
  background: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.25px;
  border: 1px solid rgba(0, 0, 0, .12);
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  letter-spacing: 0.25px;
  font-weight: 400;
  background-color: #212121;
  color: #fff;
}


.mat-button {
  padding: 0 8px !important;
}

:root {
  --medium-emphasis-text-color: rgba(0, 0, 0, .6);
}
