@import "light_theme";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "reset";

pre code {
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 96px;
  line-height: 112px;
  letter-spacing: -1.5px;
}

h2 {
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
}

h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

h4 {
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
}

h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
