.profile-picture {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.form-head {
  padding: 24px 0;
  text-align: center;
}

.profile-name {
  margin: 16px 0;
}
