<div class="top">
  <button mat-icon-button title="Geri dön" class="back-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<form autocomplete="off" spellcheck="false" [formGroup]="form" (submit)="submit()">

  <div class="form-head">
    <img class="profile-picture" [src]="user.avatarUrl" alt="">
    <h6 class="profile-name">{{user.displayName}}</h6>
  </div>

  <div class="form-body">

    <mat-form-field>
      <mat-label>Şifre</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" #passwordInput>

      <button type="button" mat-icon-button matSuffix [matTooltip]="hidePassword ? 'Şifreyi göster' : 'Şifreyi gizle'"
              (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="form.controls.password.hasError('required')">Bir şifre girin</mat-error>

      <mat-error *ngIf="form.controls.password.hasError('wrong')">
        <button mat-icon-button>
          <mat-icon>error</mat-icon>
        </button>
        Şifre yanlış. Tekrar deneyin veya Şifremi unuttum'u tıklayarak sıfırlayın.
      </mat-error>

    </mat-form-field>
  </div>

  <div class="row-actions">
    <a mat-button color="primary" type="button" routerLink="/register" class="register-link">ŞİFREMİ UNUTTUM?</a>
    <button mat-raised-button color="primary" type="submit">İLERİ</button>
  </div>
</form>
